/* h1{
    font-size:40px;
    font-family: "Arial",sans-serif;
    font-weight:normal;
    color:rgb(100,100,100);
    text-align:center;
} */

#banner{
    height:320px;
    width:100%;
    object-fit: cover;
}

/*h2{
    font-family:"Arial",sans-serif;
    font-size:30px;
    font-weight:normal;
    color:rgb(100,100,100);
    text-align:center;
} */

.bodytext{
    font-family:"Arial",sans-serif;
    color:rgb(80,80,80);
    text-align:center;
}

#container{
    max-width:200px;
    margin:0 auto;
}