<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Job postings website</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Pranav Job postings</h1>
      <img class="img-fluid" src="../images/team.jpg" id="banner" />
      <h2 class="text-center mt-2 mb-4">About our company</h2>
      <p class="lead">
        Quoniam igitur nihil carentia per se ipsa potest esse bonum, sapientia
        quoque nihil erit bonum per se ipsa, sed per quem alium rem quaerendam
        iudicabit, id erit illi bonum, non illa res. Quod si ita se habeat, non
        possit beatam vitam virtus efficere; alia quaedam igitur sunt bona
        praeter sapientiam. Quodsi nihil aliud possit esse bonum, virtus ipsa
        per se erit summum bonum, nec quicquam aliud praeter illam expetendum
        erit. Sed haec omnia refutata et profligata sunt paulo ante, cum
        ostenderemus non posse virtutem ipsam per se beatam vitam efficere, nisi
        accesserit ad eam perpetua rerum prosperitas. Nam si propter voluptatem,
        quae maxima est secundum Epicurum, omnia eligenda sunt, et si nihil
        umquam ab eo dictum est, quod non ad voluptatem referretur, non
        intellego cur non de virtutibus eadem dicat, cum ipsa per se nihil aliud
        quam honesta sit et tantum habeat momenti quantum iudicari potest ex
        utilitate, non ex voluptate.
      </p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p class="lead">Display Openings here</p>
      <div class="text-center">
        <button class="btn btn-primary btn-lg">Apply Here</button>
      </div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
